APP_NAME="ViperPro Backend"
APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost:8000
CACHE_DRIVER=file
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=viperpro
DB_USERNAME=postgres
DB_PASSWORD=
JWT_SECRET=change-me
QUEUE_CONNECTION=sync
SESSION_DRIVER=file